body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  background-color: var(--bgc-white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  transition: color var(--duration) var(--timing-function);
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-dark-color);
}

.btn {
  border: none;
  cursor: pointer;
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--text-dark-color);
  background-color: var(--bgc-light-grey-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-nav,
.site-nav,
.auth-nav,
.container-flex,
.advantage-list,
.work-list,
.team-list,
.card-set {
  display: flex;
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--text-acent-color);
}

.hero,
.footer {
  background-color: var(--bgc-dark-grey-color);
}
