body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  background-color: var(--bgc-white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
  transition: color var(--duration) var(--timing-function);
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-dark-color);
}

.btn {
  border: none;
  cursor: pointer;
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--text-dark-color);
  background-color: var(--bgc-light-grey-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.navigation,
.site-navigation,
.auth-navigation,
.container--flex,
.advantage__list,
.work-list,
.team-list,
.card-set {
  display: flex;
}

.hero,
.footer {
  background-color: var(--bgc-dark-grey-color);
}

.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-acent-color);
}

.logo--black {
  color: var(--text-black-color);
}

.logo--inversion {
  color: var(--text-white-color);
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;

  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--bgc-white-color);
    background-color: var(--text-acent-color);
  }
}
