.header {
  border-bottom: 1px solid #ececec;
}

.site-navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-dark-color);
  &:hover,
  &:focus {
    color: var(--text-acent-color);
  }
}

.site-navigation :not(:last-child) {
  margin-right: var(--margin50);
}

.link.current {
  position: relative;
  color: var(--text-acent-color);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background: var(--text-acent-color);
}

.navigation {
  align-items: center;
}

.container--flex {
  align-items: center;
}

.auth-navigation {
  margin-left: auto;
  :not(:last-child) {
    margin-right: var(--margin50);
  }
}

.auth-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
  &:hover,
  &:focus {
    color: var(--text-acent-color);
  }
}

.auth-navigation-icon {
  margin-right: 10px;
  fill: currentColor;
}
