:root {
  /* цвет текста */
  --text-dark-color: #212121;
  --text-main-color: #757575;
  --text-acent-color: #2196f3;
  --text-white-color: #ffffff;
  --text-link-footer-color: rgba(255, 255, 255, 0.6);
  --text-black-color: #000000;
  /* цвета фона*/
  --bgc-white-color: #ffffff;
  --bgc-dark-grey-color: #2f303a;
  --bgc-light-grey-color: #f5f4fa;
  /* отступы */
  --margin50: 50px;
  --margin30: 30px;
  --margin20: 20px;
  /* transition */
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
